@model IEnumerable<project_framework_one.Models.Estoque>

@{
    ViewData["Title"] = "Index";
}

<h1>Estoque</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Fornecedor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ingrediente)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Ingrediente.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Ingrediente.Qtde)
                </td>
            </tr>
        }
    </tbody>
</table>
