@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to intraAluroni</h1>
    <p>Responsible for the internal management of the Aluroni service, promoting culture and good food.</p>
</div>
